.home {
  display: flex;
  flex-direction: column;
  gap: 60px; /* Відстань між секціями */
  margin: 0px 170px; /* Зовнішні відступи для десктопів */
  padding-bottom: 40px; /* Додано нижній відступ для простору */
}

/* === Адаптація для планшетів === */
@media (min-width: 577px) and (max-width: 768px) {
  .home {
    gap: 50px; /* Менша відстань між секціями */
    margin: 0px 50px; /* Зменшені зовнішні відступи */
  }
}

/* === Адаптація для мобільних === */
@media (max-width: 576px) {
  .home {
    gap: 40px; /* Ще менша відстань між секціями */
    margin: 0px 20px; /* Компактні відступи для мобільних */
  }
}
