.product {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0px 170px; /* Основні відступи для десктопів */
}

/* === Адаптація для планшетів === */
@media (min-width: 577px) and (max-width: 768px) {
  .product {
    margin: 0px 50px; /* Зменшено зовнішні відступи для планшетів */
    gap: 30px; /* Зменшено відстань між компонентами */
  }
}

/* === Адаптація для мобільних === */
@media (max-width: 576px) {
  .product {
    margin: 0px 20px; /* Компактні зовнішні відступи для мобільних */
    gap: 20px; /* Менша відстань між компонентами */
  }
}
